.header {
    grid-area: h;
    background-color: #fff;
}

.header img {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.header__login {
    float: right;
}

.header__login a {
    color: #fff;
}