.profiile__info {
    margin-bottom: 20px;
}

.profiile__photo img {
    width: 100px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

.profiile__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

.profile__status {
    background-color: goldenrod;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

.profile__status:focus {
    resize: none;
    /* border-color: goldenrod; */
    border: none;
    outline: none;
    box-shadow: 0 0px 3px goldenrod;
    padding: 2px;
    min-width: 50%;
    font-size: 15px;
    cursor: auto;
}