.profiile_info {
    margin-bottom: 20px;
}

.profiile_photo {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    object-fit: cover;
    padding: 5px;
}

.profile_input {
    background-color: rgba(145, 145, 250, 0.349);
}

/* input {
    border-radius: 5px;
    resize: none;
    border-color: blue;
    border-style: double;
    outline: none;
} */

input:focus {
    border-radius: 5px;
    resize: none;
    border-color: blue;
    border-style: dotted;
    outline: none;
    box-shadow: 0 0px 3px blue;
}