.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 5px;
}

.dialogs__items {
    text-decoration: none;
    margin-bottom: 10px;
}

.dialog__user a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.messages {
    font-style: sans-serif;
    line-height: 18px;
}

.message {
    color: black;
}